<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load staticfiles %}
<!--

Design by OCS: OnlineChefService
http://www.ocs.com
Released for free under a Creative Commons Attribution 2.5 License

Title      : Reference
Version    : 1.0
Released   : 20081110
Description: A two-column, fixed-width and lightweight template ideal for 1024x768 resolutions. Suitable for blogs and small websites.

-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>OCS</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static "styles/default.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1 align="center"><a href="#">OCS<sup></sup></a></h1>
		<h2 align="center">Restaurant Index</h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="#"> <strong>home</strong></a></li>
			<li><a href="index01.html">Login</a></li>
			<li><a href="index02.html">Registration</a></li>
			<li></li>
			<li><a href="index03.html">contact</a></li>
		</ul>
	</div>
</div>
<!-- end header -->

<div id="wrapper">
<!-- start page -->
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">Restaurants Index</h1>
			<div class="entry">

			</div>
			<div class="meta">
				<p class="byline">&nbsp;</p>
				<p class="links">&nbsp;</p>
			</div>
		</div>
		<div class="post">
				            {% for restaurant in restaurants %}
                <h2><a href="/restaurant/{{ restaurant }}">{{ restaurant }}</a></h2>
                <p>{{ restaurant.description|safe }}</p>
            {% endfor %}

            {% if restaurants.has_previous %}
                <a href="?page={{ restaurants.previous_page_number }}">previous</a>
            {% endif %}
            {% if restaurants.has_next %}
                <a href="?page={{ restaurants.next_page_number }}">next</a>
            {% endif %}
          </div>
			<div class="meta">
				<p class="links">&nbsp;</p>
			</div>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
	  <form method="get" action="">
      </form>
	  <ul>
		  <li>
			  <h2><strong>announcement</strong></h2>
			  <ul>
				  <li></li>
			  </ul>
		  </li>
		  <li>
			  <h2><b>developer</b> information</h2>
			  <ul>
				  <li>Designer</li>
				  <li>Achitacher<!-- end sidebar --></li>
				  <li>PM </li>
			  </ul>
		  </li>
	  </ul>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p align="center" id="legal">(c) 2013 YourSite. Design by <a href="http://www.ocs.com/">OCS</a>.</p>
</div>
<!-- end footer -->
</body>
</html>
